{% include "header.html" %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    {% block content %}
    <header class="header" style="position: static; background-color: #262424;">
        <div class="logo" style="background-color: #262424;">
            <h1 class="company-name" style="font-size: 42px;background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;"><img src="{% static 'image/logo.png' %}" class="logo-size">Trendy</h1>

            <div class="myaccount" >
                <i class="fa-solid fa-heart  fa-2x" style="margin-top: -1.5px;" ></i>
                <a href="{% url 'addtocart' %}"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
                
                
                

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="{% url 'user' %}" class="btn btn-dark" style="background-color: rgb(253, 253, 255);color: #262424;font-weight: bold;">{{ view_name }}</a>
                    </li>

                </ul>
            </div>

        </div>
    </header>


    <div class="main-banner" id="top" >
      <div class="container-fluid" style="margin-top: -100px;">
          <div class="row">
              <div class="col-lg-6">
                  <div class="left-content">
                      <div class="thumb">
                          <div class="inner-content">
                              <h4>We Are Trendy</h4>
                              <span>For Men,womens & kids</span>
                              
                          </div>
                          <img src="{% static 'image/left-banner-image.jpg' %}" alt="">
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="right-content">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Women</h4>
                                          <span>Best Clothes For Women</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Women</h4>

                                              <div class="main-border-button">
                                                  <a href="{% url 'womens' %}">Discover More</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{% static 'image/baner-right-image-01.jpg' %}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Men</h4>
                                          <span>Best Clothes For Men</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Men</h4>
                                    
                                              <div class="main-border-button">
                                                  <a href="{% url 'mens' %}">Discover More</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{% static 'image/baner-right-image-02.jpg' %}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Kids</h4>
                                          <span>Best Clothes For Kids</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Kids</h4>
                                        
                                              <div class="main-border-button">
                                                  <a href="{% url 'kids' %}">Discover More</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{%static 'image/baner-right-image-03.jpg' %}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Accessories</h4>
                                          <span>Best Trend Accessories</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Accessories</h4>
                                              <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                              <div class="main-border-button">
                                                  <a href="#">Discover More</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{%static 'image/baner-right-image-04.jpg' %}">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  
<div class="home-container">
    <div id="carouselExampleDark"  class="carousel carousel-dark slide" data-bs-ride="carousel" style=" width: 90%">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1500">
            <img  src="{%static 'image/men_home.jpg'%}"class="d-block w-100" alt="..."style=" width: 100%; height: 400px; object-fit: cover;">
            <div class="carousel-caption d-none d-md-block">
              <h5>mens</h5>
              <p>so beautifull</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img src="{% static 'image/women_home.jpg' %}" class="d-block w-100" alt="..."style=" width: 100%; height: 400px; object-fit: cover;">
            <div class="carousel-caption d-none d-md-block">
              <h5>womens</h5>
              <p>so eligant</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img src="{% static 'image/kids_home.jpg' %}" class="d-block w-100" alt="..."style=" width: 100%; height: 400px; object-fit: cover;">
            <div class="carousel-caption d-none d-md-block">
              <h5>kids</h5>
              <p>looking awsome</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>



<div class="fot-con">
    <footer style="background-color: rgb(9, 9, 9);">
        <div class="footer-1" style="text-align: center;">
            <h1 class="fa-solid " >T r e n d y</h1>
            <p class="fa-solid fa-circle-check fa-2x"></p>
        </div>
    </footer>



    <div class="footer-body">

        <div class="fot-1">
            <h1>Get In Touch</h1>
            <h5><i class="fa-solid fa-location-dot"></i> 16/30 Arasu Colony, Tamil Nadu, INDIA</h5>
            <h5><i class="fa-solid fa-phone-volume"></i></i>+91 73395 57072</h5>
            <h5><i class="fa-solid fa-envelope"></i> gokulvbe1303@gmail.com</h5>
            <ul>
                <i class="fa-brands fa-instagram fa-2x"></i>
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-youtube fa-2x"></i>
                <i class="fa-brands fa-linkedin fa-2x"></i>
            </ul>
        </div>

        <div class="fot-1">
            <h1>Quick Links</h1>
            <ul class="get-in-touch">
                <a href=""><i class="fa-solid fa-greater-than"></i> About us</a><br>
                <a href=""><i class="fa-solid fa-greater-than"></i> Contact us</a><br>
                <a href=""><i class="fa-solid fa-greater-than"></i> Our Service</a><br>
                <a href=""><i class="fa-solid fa-greater-than"></i>Privacy Policy</a><br>
                <a href=""><i class="fa-solid fa-greater-than"></i>Terms & Condition</a>
            </ul>
        </div>
    </div>
    <div class="footer-body2">
        <h4>POWERED BY</h4>
        <h5><img src="{% static 'image/logo.png' %}" class="logo-size2  fa-solid">Trendy</h5>

    </div>
</div>
{% endblock %}

</body>

